.GWS{
    font-size: 45px;
    position:absolute;
	right:1600px;
}
.wirte{
     border:1px solid #ccc;
     width: 825px;
     border-radius: 9px;
     height: none;
     position:absolute;
     right:10px;
     top: 50px;
}
/* 整体居中 */
.wrap {
    width: 1660px;
    height: 880px;
    margin: 0 auto;
    box-shadow: 10px 10px 30px #ccc;
    border-radius: 2px;
    padding: 10px;
    position: relative;
    top: 50px;
}
/* 渲染    来，说说你在做什么，想什么... */
.says h1 {
    font-size: 18px;
    color: #A8A8A8;
    margin-bottom: 5px;
}
/* 渲染文本框 */
textarea {
    width: 815.5px;
    height: 600px;
    outline: none;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 9px;
    padding: 5px;
    white-space: pre-wrap;
}